<div class="hero-form-ctn">
  <form #heroForm="ngForm" class="hero-form">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" required [(ngModel)]="model.name" name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name is Required
      </div>
      <br>
      <label for="alterEgo">Alter Ego</label>
      <input class="form-control" type="text" [(ngModel)]="model.alterEgo" name="alterEgo">
      <br>
      <label for="power">Hero Power</label>
      <select class="form-control" id="power" required [(ngModel)]="model.power" name="power">
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>
    </div>
    <hr>
    <pre>{{ model | json }}</pre>
    <pre>{{ myHero | json }}</pre>
  </form>
</div>